In [1]:
import pandas as pd
import numpy as np

In [2]:
outcomes = pd.read_csv('datasets/Austin_Animal_Center_Outcomes.csv')

In [3]:
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [4]:
intakes = pd.read_csv('datasets/Austin_Animal_Center_Intakes.csv')

In [5]:
intakes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [6]:
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [7]:
outcomes['Age upon Outcome'].unique()

array(['2 years', '1 year', '4 months', '6 days', '7 years', '2 months',
       '2 days', '3 weeks', '9 months', '4 weeks', '2 weeks', '3 months',
       '9 years', '10 years', '6 months', '8 years', '3 years',
       '7 months', '6 years', '4 years', '1 month', '12 years', '5 years',
       '1 weeks', '5 months', '5 days', '15 years', '11 months',
       '10 months', '4 days', '16 years', '1 day', '8 months', '11 years',
       '13 years', '1 week', '14 years', '3 days', '0 years', '5 weeks',
       '17 years', '18 years', '20 years', '22 years', '-2 years',
       '19 years', '23 years', '24 years', '-1 years', '25 years',
       '21 years', '-3 years', nan], dtype=object)

In [8]:
outcomes = outcomes[~(outcomes['Age upon Outcome'] == '0 years')]

In [9]:
outcomes = outcomes[~(outcomes['Age upon Outcome'] == '-1 years')]

In [10]:
outcomes = outcomes[~(outcomes['Age upon Outcome'] == '-2 years')]

In [11]:
outcomes = outcomes[~(outcomes['Age upon Outcome'] == '-3 years')]

In [12]:
outcomes = outcomes[~(outcomes['Age upon Outcome'].isnull())]

In [13]:
outcomes.shape

(129455, 12)

In [14]:
outcomes.columns = outcomes.columns.str.lower().str.replace(' ', '_')

In [15]:
outcomes.columns

Index(['animal_id', 'name', 'datetime', 'monthyear', 'date_of_birth',
       'outcome_type', 'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color'],
      dtype='object')

In [16]:
def clean_age(age):
    """
        Takes a string form of age, and transforms into an a floating point number.
    """
    age_f = age.split(' ')
    if (age_f[1] == 'day' or age_f[1] == 'days'):
        return round(float(age_f[0])/365, 3)
    elif (age_f[1] == 'week' or age_f[1] == 'weeks'):
        return round(float(age_f[0])/52.143, 3)
    elif (age_f[1] == 'month' or age_f[1] == 'months'):
        return round(float(age_f[0])/12,3)
    else:
        return age[0]

In [17]:
outcomes['age_upon_outcome'] = outcomes['age_upon_outcome'].apply(clean_age).astype(float)

In [18]:
outcomes.dtypes

animal_id            object
name                 object
datetime             object
monthyear            object
date_of_birth        object
outcome_type         object
outcome_subtype      object
animal_type          object
sex_upon_outcome     object
age_upon_outcome    float64
breed                object
color                object
dtype: object

In [19]:
outcomes['is_named'] = outcomes['name'].notnull().astype(int)

In [20]:
outcomes.dtypes

animal_id            object
name                 object
datetime             object
monthyear            object
date_of_birth        object
outcome_type         object
outcome_subtype      object
animal_type          object
sex_upon_outcome     object
age_upon_outcome    float64
breed                object
color                object
is_named              int64
dtype: object

In [21]:
outcomes.drop(columns=['monthyear'], axis = 1, inplace = True)

In [24]:
outcomes['outcome_subtype'].replace(np.nan, 'Unknown', inplace = True)

In [25]:
outcomes = outcomes[~(outcomes['outcome_type'].isnull())]

In [26]:
outcomes['animal_type'].value_counts()

Dog          73068
Cat          48844
Other         6889
Bird           610
Livestock       21
Name: animal_type, dtype: int64

In [27]:
outcomes['sex_upon_outcome'].replace(np.nan, 'Unknown', inplace = True)

In [28]:
outcomes['datetime'] = pd.to_datetime(outcomes['datetime'])

In [29]:
outcomes['year'] = outcomes['datetime'].apply(lambda x: x.year)

In [30]:
outcomes['month'] = outcomes['datetime'].apply(lambda x: x.month)

In [31]:
outcomes['day'] = outcomes['datetime'].apply(lambda x: x.day_name())

In [32]:
outcomes.columns

Index(['animal_id', 'name', 'datetime', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color', 'is_named', 'month', 'year',
       'day'],
      dtype='object')