In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/main.csv')

In [3]:
df.head()

,animal_id_in,animal_type,color,breed,intake_type,outcome_type,intake_condition,outcome_subtype,datetime_in,datetime_out,...,prev_relocate,age_upon_outcome,age_upon_intake,sex_upon_intake,sex_upon_outcome,is_named_in,is_named_out,found_location,name_in,name_out
0,A006100,Dog,yellow white,spinone italiano mix,Public Assist,Return to Owner,Normal,Unknown,2014-12-19 10:21:00,2014-12-20 16:35:00,...,0,7.0,7.0,Neutered Male,Neutered Male,1,1,8700 Research Blvd in Austin (TX),Scamp,Scamp
1,A006100,Dog,yellow white,spinone italiano mix,Public Assist,Return to Owner,Normal,Unknown,2014-03-07 14:26:00,2014-03-08 17:10:00,...,0,6.0,6.0,Neutered Male,Neutered Male,1,1,8700 Research in Austin (TX),Scamp,Scamp
2,A047759,Dog,tricolor,dachshund,Owner Surrender,Transfer,Normal,Partner,2014-04-02 15:55:00,2014-04-07 15:12:00,...,0,1.0,1.0,Neutered Male,Neutered Male,1,1,Austin (TX),Oreo,Oreo
3,A134067,Dog,brown white,sheepdog shetland,Public Assist,Return to Owner,Injured,Unknown,2013-11-16 09:02:00,2013-11-16 11:54:00,...,0,1.0,1.0,Neutered Male,Neutered Male,1,1,12034 Research Blvd in Austin (TX),Bandit,Bandit
4,A141142,Dog,white black,retriever labrador bull pit,Stray,Return to Owner,Aged,Unknown,2013-11-16 14:46:00,2013-11-17 11:40:00,...,0,1.0,1.0,Spayed Female,Spayed Female,1,1,Austin (TX),Bettie,Bettie

In [8]:
(pd.to_datetime(df['datetime_out']) - pd.to_datetime(df['datetime_in'])).astype('int')/(10**9)

0         108840.0
1          96240.0
2         429420.0
3          10320.0
4          75240.0
            ...
127139      6480.0
127140      6480.0
127141      1860.0
127142     43500.0
127143     71280.0
Length: 127144, dtype: float64

In [14]:
df = df[df['outcome_type'] == 'Adoption']

In [15]:
df.head()

,animal_id_in,animal_type,color,breed,intake_type,outcome_type,intake_condition,outcome_subtype,datetime_in,datetime_out,...,prev_relocate,age_upon_outcome,age_upon_intake,sex_upon_intake,sex_upon_outcome,is_named_in,is_named_out,found_location,name_in,name_out
12,A200922,Dog,tan black,mix dachshund,Owner Surrender,Adoption,Normal,Foster,2013-10-03 15:47:00,2013-11-22 09:44:00,...,0,1.0,1.0,Neutered Male,Neutered Male,1,1,Austin (TX),Carlos,Carlos
14,A210457,Dog,tan black,chihuahua shorthair,Public Assist,Adoption,Aged,Foster,2016-09-28 12:05:00,2016-10-07 12:34:00,...,0,1.0,1.0,Neutered Male,Neutered Male,1,1,4424 S Mopac #412 in Austin (TX),Caleb,Caleb
23,A226069,Dog,white sable,beagle labrador retriever,Stray,Adoption,Normal,Foster,2015-10-06 12:29:00,2015-10-29 15:00:00,...,0,1.0,1.0,Neutered Male,Neutered Male,1,1,Wheless Ln And Berkman Dr in Austin (TX),Cedar,Cedar
33,A249087,Dog,brown black,mix shepherd german,Stray,Adoption,Normal,Foster,2016-08-17 14:05:00,2016-11-15 10:37:00,...,0,1.0,1.0,Spayed Female,Spayed Female,1,1,E 6Th St And Pedernales in Austin (TX),*Polly,*Polly
49,A274546,Dog,tricolor,mix pointer,Stray,Adoption,Normal,Unknown,2013-11-13 18:16:00,2013-11-16 12:24:00,...,0,1.0,1.0,Spayed Female,Spayed Female,1,1,Manchaca And Slaughter in Austin (TX),Sophie,Sophie

In [17]:
df.drop(columns=['animal_id_in', 'outcome_subtype', 'sex_upon_intake', 'found_location', 'name_in', 'name_out'], inplace = True)

/Users/brianberry/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
df.head()

,animal_type,color,breed,intake_type,outcome_type,intake_condition,datetime_in,datetime_out,year_in,month_in,...,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,age_upon_intake,sex_upon_outcome,is_named_in,is_named_out
12,Dog,tan black,mix dachshund,Owner Surrender,Adoption,Normal,2013-10-03 15:47:00,2013-11-22 09:44:00,2013,10,...,0,0,0,0,0,1.0,1.0,Neutered Male,1,1
14,Dog,tan black,chihuahua shorthair,Public Assist,Adoption,Aged,2016-09-28 12:05:00,2016-10-07 12:34:00,2016,9,...,0,0,0,0,0,1.0,1.0,Neutered Male,1,1
23,Dog,white sable,beagle labrador retriever,Stray,Adoption,Normal,2015-10-06 12:29:00,2015-10-29 15:00:00,2015,10,...,0,0,0,0,0,1.0,1.0,Neutered Male,1,1
33,Dog,brown black,mix shepherd german,Stray,Adoption,Normal,2016-08-17 14:05:00,2016-11-15 10:37:00,2016,8,...,0,0,0,0,0,1.0,1.0,Spayed Female,1,1
49,Dog,tricolor,mix pointer,Stray,Adoption,Normal,2013-11-13 18:16:00,2013-11-16 12:24:00,2013,11,...,0,0,0,0,0,1.0,1.0,Spayed Female,1,1

In [19]:
df.columns

Index(['animal_type', 'color', 'breed', 'intake_type', 'outcome_type',
       'intake_condition', 'datetime_in', 'datetime_out', 'year_in',
       'month_in', 'day_in', 'year_out', 'month_out', 'day_out',
       'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt',
       'prev_disposal', 'prev_missing', 'prev_relocate', 'age_upon_outcome',
       'age_upon_intake', 'sex_upon_outcome', 'is_named_in', 'is_named_out'],
      dtype='object')

In [20]:
df.drop(columns=['year_out', 'month_out', 'day_out'], inplace = True)

/Users/brianberry/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [21]:
df.head()

,animal_type,color,breed,intake_type,outcome_type,intake_condition,datetime_in,datetime_out,year_in,month_in,...,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,age_upon_intake,sex_upon_outcome,is_named_in,is_named_out
12,Dog,tan black,mix dachshund,Owner Surrender,Adoption,Normal,2013-10-03 15:47:00,2013-11-22 09:44:00,2013,10,...,0,0,0,0,0,1.0,1.0,Neutered Male,1,1
14,Dog,tan black,chihuahua shorthair,Public Assist,Adoption,Aged,2016-09-28 12:05:00,2016-10-07 12:34:00,2016,9,...,0,0,0,0,0,1.0,1.0,Neutered Male,1,1
23,Dog,white sable,beagle labrador retriever,Stray,Adoption,Normal,2015-10-06 12:29:00,2015-10-29 15:00:00,2015,10,...,0,0,0,0,0,1.0,1.0,Neutered Male,1,1
33,Dog,brown black,mix shepherd german,Stray,Adoption,Normal,2016-08-17 14:05:00,2016-11-15 10:37:00,2016,8,...,0,0,0,0,0,1.0,1.0,Spayed Female,1,1
49,Dog,tricolor,mix pointer,Stray,Adoption,Normal,2013-11-13 18:16:00,2013-11-16 12:24:00,2013,11,...,0,0,0,0,0,1.0,1.0,Spayed Female,1,1

In [22]:
df.columns

Index(['animal_type', 'color', 'breed', 'intake_type', 'outcome_type',
       'intake_condition', 'datetime_in', 'datetime_out', 'year_in',
       'month_in', 'day_in', 'prev_adoption', 'prev_transfer',
       'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing',
       'prev_relocate', 'age_upon_outcome', 'age_upon_intake',
       'sex_upon_outcome', 'is_named_in', 'is_named_out'],
      dtype='object')

In [25]:
df.drop(columns=['age_upon_intake'], inplace = True)

/Users/brianberry/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
df.head()

,animal_type,color,breed,intake_type,outcome_type,intake_condition,datetime_in,datetime_out,year_in,month_in,...,prev_transfer,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,sex_upon_outcome,is_named_in,is_named_out
12,Dog,tan black,mix dachshund,Owner Surrender,Adoption,Normal,2013-10-03 15:47:00,2013-11-22 09:44:00,2013,10,...,0,0,0,0,0,0,1.0,Neutered Male,1,1
14,Dog,tan black,chihuahua shorthair,Public Assist,Adoption,Aged,2016-09-28 12:05:00,2016-10-07 12:34:00,2016,9,...,0,0,0,0,0,0,1.0,Neutered Male,1,1
23,Dog,white sable,beagle labrador retriever,Stray,Adoption,Normal,2015-10-06 12:29:00,2015-10-29 15:00:00,2015,10,...,0,0,0,0,0,0,1.0,Neutered Male,1,1
33,Dog,brown black,mix shepherd german,Stray,Adoption,Normal,2016-08-17 14:05:00,2016-11-15 10:37:00,2016,8,...,0,0,0,0,0,0,1.0,Spayed Female,1,1
49,Dog,tricolor,mix pointer,Stray,Adoption,Normal,2013-11-13 18:16:00,2013-11-16 12:24:00,2013,11,...,0,0,0,0,0,0,1.0,Spayed Female,1,1

In [37]:
df['duration'] = (pd.to_datetime(df['datetime_out']) - pd.to_datetime(df['datetime_in'])).dt.total_seconds()

<ipython-input-37-f58424d9a503>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duration'] = (pd.to_datetime(df['datetime_out']) - pd.to_datetime(df['datetime_in'])).dt.total_seconds()

In [38]:
df.head()

,animal_type,color,breed,intake_type,outcome_type,intake_condition,datetime_in,datetime_out,year_in,month_in,...,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,sex_upon_outcome,is_named_in,is_named_out,duration
12,Dog,tan black,mix dachshund,Owner Surrender,Adoption,Normal,2013-10-03 15:47:00,2013-11-22 09:44:00,2013,10,...,0,0,0,0,0,1.0,Neutered Male,1,1,4298220.0
14,Dog,tan black,chihuahua shorthair,Public Assist,Adoption,Aged,2016-09-28 12:05:00,2016-10-07 12:34:00,2016,9,...,0,0,0,0,0,1.0,Neutered Male,1,1,779340.0
23,Dog,white sable,beagle labrador retriever,Stray,Adoption,Normal,2015-10-06 12:29:00,2015-10-29 15:00:00,2015,10,...,0,0,0,0,0,1.0,Neutered Male,1,1,1996260.0
33,Dog,brown black,mix shepherd german,Stray,Adoption,Normal,2016-08-17 14:05:00,2016-11-15 10:37:00,2016,8,...,0,0,0,0,0,1.0,Spayed Female,1,1,7763520.0
49,Dog,tricolor,mix pointer,Stray,Adoption,Normal,2013-11-13 18:16:00,2013-11-16 12:24:00,2013,11,...,0,0,0,0,0,1.0,Spayed Female,1,1,238080.0

In [39]:
df.drop(columns=['datetime_in', 'datetime_out'], inplace=True)

/Users/brianberry/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [40]:
df.head()

,animal_type,color,breed,intake_type,outcome_type,intake_condition,year_in,month_in,day_in,prev_adoption,...,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,sex_upon_outcome,is_named_in,is_named_out,duration
12,Dog,tan black,mix dachshund,Owner Surrender,Adoption,Normal,2013,10,Thursday,0,...,0,0,0,0,0,1.0,Neutered Male,1,1,4298220.0
14,Dog,tan black,chihuahua shorthair,Public Assist,Adoption,Aged,2016,9,Wednesday,0,...,0,0,0,0,0,1.0,Neutered Male,1,1,779340.0
23,Dog,white sable,beagle labrador retriever,Stray,Adoption,Normal,2015,10,Tuesday,0,...,0,0,0,0,0,1.0,Neutered Male,1,1,1996260.0
33,Dog,brown black,mix shepherd german,Stray,Adoption,Normal,2016,8,Wednesday,0,...,0,0,0,0,0,1.0,Spayed Female,1,1,7763520.0
49,Dog,tricolor,mix pointer,Stray,Adoption,Normal,2013,11,Wednesday,0,...,0,0,0,0,0,1.0,Spayed Female,1,1,238080.0

In [44]:
df = pd.merge(left=df, right=pd.get_dummies(df['animal_type'], prefix='animal_type', drop_first=True), how='inner', 
         left_index = True, right_index = True)

In [45]:
df.drop(columns=['animal_type'], inplace=True)

In [46]:
df = pd.merge(left=df, right=pd.get_dummies(df['color'], prefix='color', drop_first=True), how='inner', 
         left_index = True, right_index = True)

In [47]:
df.drop(columns=['color'], inplace=True)

In [48]:
df = pd.merge(left=df, right=pd.get_dummies(df['breed'], prefix='breed', drop_first=True), how='inner', 
         left_index = True, right_index = True)

In [49]:
df.drop(columns=['breed'], inplace=True)

In [50]:
df = pd.merge(left=df, right=pd.get_dummies(df['intake_type'], prefix='intake_type', drop_first=True), how='inner', 
         left_index = True, right_index = True)

In [51]:
df.drop(columns=['intake_type'], inplace=True)

In [52]:
df = pd.merge(left=df, right=pd.get_dummies(df['intake_condition'], prefix='intake_condition', drop_first=True), how='inner', 
         left_index = True, right_index = True)

In [53]:
df.drop(columns=['intake_condition'], inplace=True)

In [54]:
df.drop(columns=['year_in'], inplace=True)

In [55]:
df = pd.merge(left=df, right=pd.get_dummies(df['day_in'], prefix='day_in', drop_first=True), how='inner', 
         left_index = True, right_index = True)

In [56]:
df.drop(columns=['day_in'], inplace=True)

In [58]:
df.drop(columns=['outcome_type'], inplace=True)

In [63]:
df = pd.merge(left=df, right=pd.get_dummies(df['sex_upon_outcome'], prefix='sex_upon_outcome', drop_first=True), how='inner', 
         left_index = True, right_index = True)

In [64]:
df.drop(columns=['sex_upon_outcome'], inplace=True)

In [60]:
import numpy as np
from sklearn.datasets import make_classification, make_regression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical

In [65]:
df.head()

,month_in,prev_adoption,prev_transfer,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,is_named_in,...,day_in_Monday,day_in_Saturday,day_in_Sunday,day_in_Thursday,day_in_Tuesday,day_in_Wednesday,sex_upon_outcome_Intact Male,sex_upon_outcome_Neutered Male,sex_upon_outcome_Spayed Female,sex_upon_outcome_Unknown
12,10,0,0,0,0,0,0,0,1.0,1,...,0,0,0,1,0,0,0,1,0,0
14,9,0,0,0,0,0,0,0,1.0,1,...,0,0,0,0,0,1,0,1,0,0
23,10,0,0,0,0,0,0,0,1.0,1,...,0,0,0,0,1,0,0,1,0,0
33,8,0,0,0,0,0,0,0,1.0,1,...,0,0,0,0,0,1,0,0,1,0
49,11,0,0,0,0,0,0,0,1.0,1,...,0,0,0,0,0,1,0,0,1,0

In [66]:
X = df.drop(columns=['duration'])
y = df['duration']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

sc = StandardScaler()

X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [67]:
X_train_sc.shape

(42837, 1915)

In [98]:
model = Sequential()

model.add(Dense(64,
                input_shape=(X_train_sc.shape[1],),
                activation='relu'
         ))

model.add(Dense(64, 
                activation='relu'))

model.add(Dense(1))

In [99]:
model.compile(loss='mse', optimizer='adam', metrics=['mse'])

In [100]:
model.fit(X_train_sc, y_train, validation_data=(X_test_sc, y_test), 
          epochs=140, batch_size=512);

Epoch 1/140
84/84 [==============================] - 1s 5ms/step - loss: 34902980427776.0000 - mse: 34902980427776.0000 - val_loss: 32157848305664.0000 - val_mse: 32157848305664.0000
Epoch 2/140
84/84 [==============================] - 0s 4ms/step - loss: 34900694532096.0000 - mse: 34900694532096.0000 - val_loss: 32152821432320.0000 - val_mse: 32152821432320.0000
Epoch 3/140
84/84 [==============================] - 0s 4ms/step - loss: 34890504470528.0000 - mse: 34890504470528.0000 - val_loss: 32136474132480.0000 - val_mse: 32136474132480.0000
Epoch 4/140
84/84 [==============================] - 0s 4ms/step - loss: 34865269440512.0000 - mse: 34865269440512.0000 - val_loss: 32102158434304.0000 - val_mse: 32102158434304.0000
Epoch 5/140
84/84 [==============================] - 0s 4ms/step - loss: 34818473590784.0000 - mse: 34818473590784.0000 - val_loss: 32043553521664.0000 - val_mse: 32043553521664.0000
Epoch 6/140
84/84 [==============================] - 0s 4ms/step - loss: 34743762550784.0000 - mse: 34743762550784.0000 - val_loss: 31955196313600.0000 - val_mse: 31955196313600.0000
Epoch 7/140
84/84 [==============================] - 0s 4ms/step - loss: 34635922800640.0000 - mse: 34635922800640.0000 - val_loss: 31831328030720.0000 - val_mse: 31831328030720.0000
Epoch 8/140
84/84 [==============================] - 0s 4ms/step - loss: 34489990381568.0000 - mse: 34489990381568.0000 - val_loss: 31669010563072.0000 - val_mse: 31669010563072.0000
Epoch 9/140
84/84 [==============================] - 0s 5ms/step - loss: 34302194614272.0000 - mse: 34302194614272.0000 - val_loss: 31464160755712.0000 - val_mse: 31464160755712.0000
Epoch 10/140
84/84 [==============================] - 0s 5ms/step - loss: 34069467365376.0000 - mse: 34069467365376.0000 - val_loss: 31214071185408.0000 - val_mse: 31214071185408.0000
Epoch 11/140
84/84 [==============================] - 0s 5ms/step - loss: 33790516789248.0000 - mse: 33790516789248.0000 - val_loss: 30919654113280.0000 - val_mse: 30919654113280.0000
Epoch 12/140
84/84 [==============================] - 0s 4ms/step - loss: 33463524655104.0000 - mse: 33463524655104.0000 - val_loss: 30579158417408.0000 - val_mse: 30579158417408.0000
Epoch 13/140
84/84 [==============================] - 0s 5ms/step - loss: 33092102258688.0000 - mse: 33092102258688.0000 - val_loss: 30197459976192.0000 - val_mse: 30197459976192.0000
Epoch 14/140
84/84 [==============================] - 0s 4ms/step - loss: 32679080755200.0000 - mse: 32679080755200.0000 - val_loss: 29779872972800.0000 - val_mse: 29779872972800.0000
Epoch 15/140
84/84 [==============================] - 0s 4ms/step - loss: 32231349288960.0000 - mse: 32231349288960.0000 - val_loss: 29329866096640.0000 - val_mse: 29329866096640.0000
Epoch 16/140
84/84 [==============================] - 0s 5ms/step - loss: 31754186391552.0000 - mse: 31754186391552.0000 - val_loss: 28858799620096.0000 - val_mse: 28858799620096.0000
Epoch 17/140
84/84 [==============================] - 0s 5ms/step - loss: 31254995009536.0000 - mse: 31254995009536.0000 - val_loss: 28369229971456.0000 - val_mse: 28369229971456.0000
Epoch 18/140
84/84 [==============================] - 0s 4ms/step - loss: 30741131952128.0000 - mse: 30741131952128.0000 - val_loss: 27871483527168.0000 - val_mse: 27871483527168.0000
Epoch 19/140
84/84 [==============================] - 0s 4ms/step - loss: 30218506993664.0000 - mse: 30218506993664.0000 - val_loss: 27368441774080.0000 - val_mse: 27368441774080.0000
Epoch 20/140
84/84 [==============================] - 0s 4ms/step - loss: 29695659737088.0000 - mse: 29695659737088.0000 - val_loss: 26872496783360.0000 - val_mse: 26872496783360.0000
Epoch 21/140
84/84 [==============================] - 0s 4ms/step - loss: 29178831306752.0000 - mse: 29178831306752.0000 - val_loss: 26388706885632.0000 - val_mse: 26388706885632.0000
Epoch 22/140
84/84 [==============================] - 0s 4ms/step - loss: 28675126853632.0000 - mse: 28675126853632.0000 - val_loss: 25923690692608.0000 - val_mse: 25923690692608.0000
Epoch 23/140
84/84 [==============================] - 0s 4ms/step - loss: 28193780137984.0000 - mse: 28193780137984.0000 - val_loss: 25491025166336.0000 - val_mse: 25491025166336.0000
Epoch 24/140
84/84 [==============================] - 0s 4ms/step - loss: 27746157723648.0000 - mse: 27746157723648.0000 - val_loss: 25092205576192.0000 - val_mse: 25092205576192.0000
Epoch 25/140
84/84 [==============================] - 0s 4ms/step - loss: 27335602470912.0000 - mse: 27335602470912.0000 - val_loss: 24735570198528.0000 - val_mse: 24735570198528.0000
Epoch 26/140
84/84 [==============================] - 0s 5ms/step - loss: 26967013326848.0000 - mse: 26967013326848.0000 - val_loss: 24421165170688.0000 - val_mse: 24421165170688.0000
Epoch 27/140
84/84 [==============================] - 0s 5ms/step - loss: 26641648582656.0000 - mse: 26641648582656.0000 - val_loss: 24151045701632.0000 - val_mse: 24151045701632.0000
Epoch 28/140
84/84 [==============================] - 0s 5ms/step - loss: 26359631970304.0000 - mse: 26359631970304.0000 - val_loss: 23925784313856.0000 - val_mse: 23925784313856.0000
Epoch 29/140
84/84 [==============================] - 0s 5ms/step - loss: 26119799570432.0000 - mse: 26119799570432.0000 - val_loss: 23738846281728.0000 - val_mse: 23738846281728.0000
Epoch 30/140
84/84 [==============================] - 0s 5ms/step - loss: 25919878070272.0000 - mse: 25919878070272.0000 - val_loss: 23589751357440.0000 - val_mse: 23589751357440.0000
Epoch 31/140
84/84 [==============================] - 0s 4ms/step - loss: 25754916093952.0000 - mse: 25754916093952.0000 - val_loss: 23467340595200.0000 - val_mse: 23467340595200.0000
Epoch 32/140
84/84 [==============================] - 0s 5ms/step - loss: 25617311465472.0000 - mse: 25617311465472.0000 - val_loss: 23375399354368.0000 - val_mse: 23375399354368.0000
Epoch 33/140
84/84 [==============================] - 0s 5ms/step - loss: 25506640560128.0000 - mse: 25506640560128.0000 - val_loss: 23300958846976.0000 - val_mse: 23300958846976.0000
Epoch 34/140
84/84 [==============================] - 0s 4ms/step - loss: 25417071198208.0000 - mse: 25417071198208.0000 - val_loss: 23245732446208.0000 - val_mse: 23245732446208.0000
Epoch 35/140
84/84 [==============================] - 0s 4ms/step - loss: 25343513591808.0000 - mse: 25343513591808.0000 - val_loss: 23201232977920.0000 - val_mse: 23201232977920.0000
Epoch 36/140
84/84 [==============================] - 0s 4ms/step - loss: 25282694086656.0000 - mse: 25282694086656.0000 - val_loss: 23165338124288.0000 - val_mse: 23165338124288.0000
Epoch 37/140
84/84 [==============================] - 0s 4ms/step - loss: 25231676669952.0000 - mse: 25231676669952.0000 - val_loss: 23135495651328.0000 - val_mse: 23135495651328.0000
Epoch 38/140
84/84 [==============================] - 0s 4ms/step - loss: 25188376772608.0000 - mse: 25188376772608.0000 - val_loss: 23110269009920.0000 - val_mse: 23110269009920.0000
Epoch 39/140
84/84 [==============================] - 0s 4ms/step - loss: 25150164566016.0000 - mse: 25150164566016.0000 - val_loss: 23088127279104.0000 - val_mse: 23088127279104.0000
Epoch 40/140
84/84 [==============================] - 0s 4ms/step - loss: 25115760787456.0000 - mse: 25115760787456.0000 - val_loss: 23067449360384.0000 - val_mse: 23067449360384.0000
Epoch 41/140
84/84 [==============================] - 0s 4ms/step - loss: 25084307701760.0000 - mse: 25084307701760.0000 - val_loss: 23048088453120.0000 - val_mse: 23048088453120.0000
Epoch 42/140
84/84 [==============================] - 0s 4ms/step - loss: 25054817550336.0000 - mse: 25054817550336.0000 - val_loss: 23030650634240.0000 - val_mse: 23030650634240.0000
Epoch 43/140
84/84 [==============================] - 0s 4ms/step - loss: 25027453911040.0000 - mse: 25027453911040.0000 - val_loss: 23012304748544.0000 - val_mse: 23012304748544.0000
Epoch 44/140
84/84 [==============================] - 0s 5ms/step - loss: 25001086418944.0000 - mse: 25001086418944.0000 - val_loss: 22995676430336.0000 - val_mse: 22995676430336.0000
Epoch 45/140
84/84 [==============================] - 0s 5ms/step - loss: 24976082075648.0000 - mse: 24976082075648.0000 - val_loss: 22978878242816.0000 - val_mse: 22978878242816.0000
Epoch 46/140
84/84 [==============================] - 0s 4ms/step - loss: 24952019353600.0000 - mse: 24952019353600.0000 - val_loss: 22961836785664.0000 - val_mse: 22961836785664.0000
Epoch 47/140
84/84 [==============================] - 0s 5ms/step - loss: 24929330266112.0000 - mse: 24929330266112.0000 - val_loss: 22945999093760.0000 - val_mse: 22945999093760.0000
Epoch 48/140
84/84 [==============================] - 0s 5ms/step - loss: 24906479697920.0000 - mse: 24906479697920.0000 - val_loss: 22931128188928.0000 - val_mse: 22931128188928.0000
Epoch 49/140
84/84 [==============================] - 0s 5ms/step - loss: 24884728037376.0000 - mse: 24884728037376.0000 - val_loss: 22916552982528.0000 - val_mse: 22916552982528.0000
Epoch 50/140
84/84 [==============================] - 0s 5ms/step - loss: 24863718768640.0000 - mse: 24863718768640.0000 - val_loss: 22902671933440.0000 - val_mse: 22902671933440.0000
Epoch 51/140
84/84 [==============================] - 0s 4ms/step - loss: 24843430920192.0000 - mse: 24843430920192.0000 - val_loss: 22888216264704.0000 - val_mse: 22888216264704.0000
Epoch 52/140
84/84 [==============================] - 0s 4ms/step - loss: 24823082254336.0000 - mse: 24823082254336.0000 - val_loss: 22874513473536.0000 - val_mse: 22874513473536.0000
Epoch 53/140
84/84 [==============================] - 0s 4ms/step - loss: 24803736027136.0000 - mse: 24803736027136.0000 - val_loss: 22861861355520.0000 - val_mse: 22861861355520.0000
Epoch 54/140
84/84 [==============================] - 0s 4ms/step - loss: 24785190912000.0000 - mse: 24785190912000.0000 - val_loss: 22849953726464.0000 - val_mse: 22849953726464.0000
Epoch 55/140
84/84 [==============================] - 0s 4ms/step - loss: 24766001971200.0000 - mse: 24766001971200.0000 - val_loss: 22836074774528.0000 - val_mse: 22836074774528.0000
Epoch 56/140
84/84 [==============================] - 0s 4ms/step - loss: 24747687542784.0000 - mse: 24747687542784.0000 - val_loss: 22825029074944.0000 - val_mse: 22825029074944.0000
Epoch 57/140
84/84 [==============================] - 0s 4ms/step - loss: 24729794641920.0000 - mse: 24729794641920.0000 - val_loss: 22812890759168.0000 - val_mse: 22812890759168.0000
Epoch 58/140
84/84 [==============================] - 0s 4ms/step - loss: 24712377794560.0000 - mse: 24712377794560.0000 - val_loss: 22802000248832.0000 - val_mse: 22802000248832.0000
Epoch 59/140
84/84 [==============================] - 0s 4ms/step - loss: 24695170662400.0000 - mse: 24695170662400.0000 - val_loss: 22791441088512.0000 - val_mse: 22791441088512.0000
Epoch 60/140
84/84 [==============================] - 0s 4ms/step - loss: 24678433292288.0000 - mse: 24678433292288.0000 - val_loss: 22779751563264.0000 - val_mse: 22779751563264.0000
Epoch 61/140
84/84 [==============================] - 0s 5ms/step - loss: 24661781905408.0000 - mse: 24661781905408.0000 - val_loss: 22771293749248.0000 - val_mse: 22771293749248.0000
Epoch 62/140
84/84 [==============================] - 0s 4ms/step - loss: 24645260541952.0000 - mse: 24645260541952.0000 - val_loss: 22761120464896.0000 - val_mse: 22761120464896.0000
Epoch 63/140
84/84 [==============================] - 0s 5ms/step - loss: 24629112471552.0000 - mse: 24629112471552.0000 - val_loss: 22750324326400.0000 - val_mse: 22750324326400.0000
Epoch 64/140
84/84 [==============================] - 0s 4ms/step - loss: 24613629198336.0000 - mse: 24613629198336.0000 - val_loss: 22739956006912.0000 - val_mse: 22739956006912.0000
Epoch 65/140
84/84 [==============================] - 0s 4ms/step - loss: 24597946695680.0000 - mse: 24597946695680.0000 - val_loss: 22731640799232.0000 - val_mse: 22731640799232.0000
Epoch 66/140
84/84 [==============================] - 0s 4ms/step - loss: 24582712983552.0000 - mse: 24582712983552.0000 - val_loss: 22721452834816.0000 - val_mse: 22721452834816.0000
Epoch 67/140
84/84 [==============================] - 0s 4ms/step - loss: 24567647043584.0000 - mse: 24567647043584.0000 - val_loss: 22712946786304.0000 - val_mse: 22712946786304.0000
Epoch 68/140
84/84 [==============================] - 0s 4ms/step - loss: 24552696446976.0000 - mse: 24552696446976.0000 - val_loss: 22703975170048.0000 - val_mse: 22703975170048.0000
Epoch 69/140
84/84 [==============================] - 0s 5ms/step - loss: 24538171572224.0000 - mse: 24538171572224.0000 - val_loss: 22695009845248.0000 - val_mse: 22695009845248.0000
Epoch 70/140
84/84 [==============================] - 0s 5ms/step - loss: 24523384553472.0000 - mse: 24523384553472.0000 - val_loss: 22686751260672.0000 - val_mse: 22686751260672.0000
Epoch 71/140
84/84 [==============================] - 0s 4ms/step - loss: 24509362995200.0000 - mse: 24509362995200.0000 - val_loss: 22679402840064.0000 - val_mse: 22679402840064.0000
Epoch 72/140
84/84 [==============================] - 0s 4ms/step - loss: 24495265939456.0000 - mse: 24495265939456.0000 - val_loss: 22671049883648.0000 - val_mse: 22671049883648.0000
Epoch 73/140
84/84 [==============================] - 0s 5ms/step - loss: 24481611382784.0000 - mse: 24481611382784.0000 - val_loss: 22663764377600.0000 - val_mse: 22663764377600.0000
Epoch 74/140
84/84 [==============================] - 0s 4ms/step - loss: 24467648544768.0000 - mse: 24467648544768.0000 - val_loss: 22655996526592.0000 - val_mse: 22655996526592.0000
Epoch 75/140
84/84 [==============================] - 0s 5ms/step - loss: 24454014959616.0000 - mse: 24454014959616.0000 - val_loss: 22648239161344.0000 - val_mse: 22648239161344.0000
Epoch 76/140
84/84 [==============================] - 0s 5ms/step - loss: 24440519786496.0000 - mse: 24440519786496.0000 - val_loss: 22640836214784.0000 - val_mse: 22640836214784.0000
Epoch 77/140
84/84 [==============================] - 0s 4ms/step - loss: 24427670536192.0000 - mse: 24427670536192.0000 - val_loss: 22631852015616.0000 - val_mse: 22631852015616.0000
Epoch 78/140
84/84 [==============================] - 0s 4ms/step - loss: 24414615764992.0000 - mse: 24414615764992.0000 - val_loss: 22629035540480.0000 - val_mse: 22629035540480.0000
Epoch 79/140
84/84 [==============================] - 0s 4ms/step - loss: 24401879760896.0000 - mse: 24401879760896.0000 - val_loss: 22619998912512.0000 - val_mse: 22619998912512.0000
Epoch 80/140
84/84 [==============================] - 0s 4ms/step - loss: 24388627857408.0000 - mse: 24388627857408.0000 - val_loss: 22614011543552.0000 - val_mse: 22614011543552.0000
Epoch 81/140
84/84 [==============================] - 0s 4ms/step - loss: 24376302895104.0000 - mse: 24376302895104.0000 - val_loss: 22605639712768.0000 - val_mse: 22605639712768.0000
Epoch 82/140
84/84 [==============================] - 0s 4ms/step - loss: 24363518656512.0000 - mse: 24363518656512.0000 - val_loss: 22598821871616.0000 - val_mse: 22598821871616.0000
Epoch 83/140
84/84 [==============================] - 0s 4ms/step - loss: 24351153848320.0000 - mse: 24351153848320.0000 - val_loss: 22595225255936.0000 - val_mse: 22595225255936.0000
Epoch 84/140
84/84 [==============================] - 0s 4ms/step - loss: 24339319619584.0000 - mse: 24339319619584.0000 - val_loss: 22587000225792.0000 - val_mse: 22587000225792.0000
Epoch 85/140
84/84 [==============================] - 0s 4ms/step - loss: 24327107903488.0000 - mse: 24327107903488.0000 - val_loss: 22584976474112.0000 - val_mse: 22584976474112.0000
Epoch 86/140
84/84 [==============================] - 0s 4ms/step - loss: 24315191885824.0000 - mse: 24315191885824.0000 - val_loss: 22575245688832.0000 - val_mse: 22575245688832.0000
Epoch 87/140
84/84 [==============================] - 0s 4ms/step - loss: 24303225536512.0000 - mse: 24303225536512.0000 - val_loss: 22571290460160.0000 - val_mse: 22571290460160.0000
Epoch 88/140
84/84 [==============================] - 0s 4ms/step - loss: 24291764600832.0000 - mse: 24291764600832.0000 - val_loss: 22565359714304.0000 - val_mse: 22565359714304.0000
Epoch 89/140
84/84 [==============================] - 0s 4ms/step - loss: 24280618237952.0000 - mse: 24280618237952.0000 - val_loss: 22559479300096.0000 - val_mse: 22559479300096.0000
Epoch 90/140
84/84 [==============================] - 0s 5ms/step - loss: 24269067124736.0000 - mse: 24269067124736.0000 - val_loss: 22554404192256.0000 - val_mse: 22554404192256.0000
Epoch 91/140
84/84 [==============================] - 0s 5ms/step - loss: 24258021425152.0000 - mse: 24258021425152.0000 - val_loss: 22549572354048.0000 - val_mse: 22549572354048.0000
Epoch 92/140
84/84 [==============================] - 0s 4ms/step - loss: 24246881353728.0000 - mse: 24246881353728.0000 - val_loss: 22544136536064.0000 - val_mse: 22544136536064.0000
Epoch 93/140
84/84 [==============================] - 0s 4ms/step - loss: 24235841945600.0000 - mse: 24235841945600.0000 - val_loss: 22542062452736.0000 - val_mse: 22542062452736.0000
Epoch 94/140
84/84 [==============================] - 0s 4ms/step - loss: 24225211482112.0000 - mse: 24225211482112.0000 - val_loss: 22534997147648.0000 - val_mse: 22534997147648.0000
Epoch 95/140
84/84 [==============================] - 0s 4ms/step - loss: 24214566338560.0000 - mse: 24214566338560.0000 - val_loss: 22528663748608.0000 - val_mse: 22528663748608.0000
Epoch 96/140
84/84 [==============================] - 0s 5ms/step - loss: 24203786977280.0000 - mse: 24203786977280.0000 - val_loss: 22525490757632.0000 - val_mse: 22525490757632.0000
Epoch 97/140
84/84 [==============================] - 0s 4ms/step - loss: 24193567555584.0000 - mse: 24193567555584.0000 - val_loss: 22520199643136.0000 - val_mse: 22520199643136.0000
Epoch 98/140
84/84 [==============================] - 0s 4ms/step - loss: 24183520100352.0000 - mse: 24183520100352.0000 - val_loss: 22516976320512.0000 - val_mse: 22516976320512.0000
Epoch 99/140
84/84 [==============================] - 0s 4ms/step - loss: 24173179043840.0000 - mse: 24173179043840.0000 - val_loss: 22510575812608.0000 - val_mse: 22510575812608.0000
Epoch 100/140
84/84 [==============================] - 0s 4ms/step - loss: 24162900901888.0000 - mse: 24162900901888.0000 - val_loss: 22506786258944.0000 - val_mse: 22506786258944.0000
Epoch 101/140
84/84 [==============================] - 0s 4ms/step - loss: 24153293848576.0000 - mse: 24153293848576.0000 - val_loss: 22503690862592.0000 - val_mse: 22503690862592.0000
Epoch 102/140
84/84 [==============================] - 0s 5ms/step - loss: 24143198158848.0000 - mse: 24143198158848.0000 - val_loss: 22499267969024.0000 - val_mse: 22499267969024.0000
Epoch 103/140
84/84 [==============================] - 0s 5ms/step - loss: 24133668700160.0000 - mse: 24133668700160.0000 - val_loss: 22495346294784.0000 - val_mse: 22495346294784.0000
Epoch 104/140
84/84 [==============================] - 0s 4ms/step - loss: 24124273459200.0000 - mse: 24124273459200.0000 - val_loss: 22491179253760.0000 - val_mse: 22491179253760.0000
Epoch 105/140
84/84 [==============================] - 0s 4ms/step - loss: 24115045990400.0000 - mse: 24115045990400.0000 - val_loss: 22489581223936.0000 - val_mse: 22489581223936.0000
Epoch 106/140
84/84 [==============================] - 0s 4ms/step - loss: 24104902066176.0000 - mse: 24104902066176.0000 - val_loss: 22484927643648.0000 - val_mse: 22484927643648.0000
Epoch 107/140
84/84 [==============================] - 0s 5ms/step - loss: 24095513116672.0000 - mse: 24095513116672.0000 - val_loss: 22482820005888.0000 - val_mse: 22482820005888.0000
Epoch 108/140
84/84 [==============================] - 0s 4ms/step - loss: 24086602317824.0000 - mse: 24086602317824.0000 - val_loss: 22480217440256.0000 - val_mse: 22480217440256.0000
Epoch 109/140

In [101]:
model.evaluate(X_test_sc, y_test, batch_size=512)

28/28 [==============================] - 0s 2ms/step - loss: 22411982405632.0000 - mse: 22411982405632.0000

[22411982405632.0, 22411982405632.0]

In [97]:
df['duration'].mean()

2815627.8314307723

In [102]:
22411982405632**0.5

4734129.529874737