In [19]:
import pandas as pd

df = pd.read_csv('../datasets/main.csv')

In [20]:
df = df[df['outcome_type'] == 'Adoption'].drop(columns=['animal_id_in', 'sex_upon_intake', 'is_named_in', 'found_location', 'name_in', 'name_out', 'year_in', 'month_in', 'day_in', 'year_out', 'month_out', 'day_out', 'outcome_type', 'outcome_subtype'])

In [21]:
df.head()

,animal_type,color,breed,intake_type,intake_condition,datetime_in,datetime_out,prev_adoption,prev_transfer,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,age_upon_intake,sex_upon_outcome,is_named_out
12,Dog,tan black,mix dachshund,Owner Surrender,Normal,2013-10-03 15:47:00,2013-11-22 09:44:00,0,0,0,0,0,0,0,1.0,1.0,Neutered Male,1
14,Dog,tan black,chihuahua shorthair,Public Assist,Aged,2016-09-28 12:05:00,2016-10-07 12:34:00,0,0,0,0,0,0,0,1.0,1.0,Neutered Male,1
23,Dog,white sable,beagle labrador retriever,Stray,Normal,2015-10-06 12:29:00,2015-10-29 15:00:00,0,0,0,0,0,0,0,1.0,1.0,Neutered Male,1
33,Dog,brown black,mix shepherd german,Stray,Normal,2016-08-17 14:05:00,2016-11-15 10:37:00,0,0,0,0,0,0,0,1.0,1.0,Spayed Female,1
49,Dog,tricolor,mix pointer,Stray,Normal,2013-11-13 18:16:00,2013-11-16 12:24:00,0,0,0,0,0,0,0,1.0,1.0,Spayed Female,1

In [22]:
df['duration'] = (pd.to_datetime(df['datetime_out']) - pd.to_datetime(df['datetime_in'])).dt.total_seconds() /60 /60/24

In [24]:
df.drop(columns=['datetime_in', 'datetime_out'], inplace = True)

In [25]:
df.head()

,animal_type,color,breed,intake_type,intake_condition,prev_adoption,prev_transfer,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,age_upon_intake,sex_upon_outcome,is_named_out,duration
12,Dog,tan black,mix dachshund,Owner Surrender,Normal,0,0,0,0,0,0,0,1.0,1.0,Neutered Male,1,49.747917
14,Dog,tan black,chihuahua shorthair,Public Assist,Aged,0,0,0,0,0,0,0,1.0,1.0,Neutered Male,1,9.020139
23,Dog,white sable,beagle labrador retriever,Stray,Normal,0,0,0,0,0,0,0,1.0,1.0,Neutered Male,1,23.104861
33,Dog,brown black,mix shepherd german,Stray,Normal,0,0,0,0,0,0,0,1.0,1.0,Spayed Female,1,89.855556
49,Dog,tricolor,mix pointer,Stray,Normal,0,0,0,0,0,0,0,1.0,1.0,Spayed Female,1,2.755556

In [28]:
df['is_fixed'] = df['sex_upon_outcome'].map(lambda x: 1 if 'Neutered' in x or 'Spayed' in x else 0)

In [32]:
df.drop(columns=['sex_upon_outcome'])

,animal_type,color,breed,intake_type,intake_condition,prev_adoption,prev_transfer,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate,age_upon_outcome,age_upon_intake,is_named_out,duration,is_fixed
12,Dog,tan black,mix dachshund,Owner Surrender,Normal,0,0,0,0,0,0,0,1.000,1.000,1,49.747917,1
14,Dog,tan black,chihuahua shorthair,Public Assist,Aged,0,0,0,0,0,0,0,1.000,1.000,1,9.020139,1
23,Dog,white sable,beagle labrador retriever,Stray,Normal,0,0,0,0,0,0,0,1.000,1.000,1,23.104861,1
33,Dog,brown black,mix shepherd german,Stray,Normal,0,0,0,0,0,0,0,1.000,1.000,1,89.855556,1
49,Dog,tricolor,mix pointer,Stray,Normal,0,0,0,0,0,0,0,1.000,1.000,1,2.755556,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127099,Dog,black,retriever labrador mix,Owner Surrender,Normal,0,0,0,0,0,0,0,0.167,0.083,1,3.024306,1
127100,Dog,brown black,retriever labrador mix,Owner Surrender,Normal,0,0,0,0,0,0,0,0.167,0.083,1,3.043750,1
127102,Dog,chocolate white,pit bull mix,Owner Surrender,Normal,0,0,0,0,0,0,0,0.167,0.083,1,2.899306,1
127114,Cat,brown white tabby,domestic shorthair,Owner Surrender,Normal,0,0,0,0,0,0,0,2.000,2.000,1,3.177778,1
127116,Dog,brown brindle,tennesse treeing brindle mix,Owner Surrender,Normal,0,0,0,0,0,0,0,0.167,0.167,1,2.030556,1

In [33]:
from sklearn.model_selection import train_test_split

In [35]:
X = df.drop(columns=['duration'])
y = df['duration']

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [38]:
train = pd.merge(X_train, y_train, left_index=True, right_index=True)
test = pd.merge(X_test, y_test, left_index=True, right_index=True)

In [65]:
animal_type_rank = {}

for index, key in enumerate(list(train.groupby('animal_type')['duration'].mean().sort_values(ascending = False).to_dict().keys())):
    animal_type_rank[key] = index

In [66]:
animal_type_rank

{'Livestock': 0, 'Cat': 1, 'Dog': 2, 'Other': 3, 'Bird': 4}

In [69]:
train['animal_type_rank'] = train['animal_type'].map(animal_type_rank)
test['animal_type_rank'] = test['animal_type'].map(animal_type_rank)

In [72]:
train['breed_'] = train['breed'].map(lambda x: x if x in test['breed'].unique() else 'Other')
test['breed_'] = test['breed'].map(lambda x: x if x in train['breed'].unique() else 'Other')

In [73]:
breed_rank = {}

for index, key in enumerate(list(train.groupby('breed_')['duration'].mean().sort_values(ascending = False).to_dict().keys())):
    breed_rank[key] = index

In [77]:
train['breed_rank'] = train['breed_'].map(breed_rank)
test['breed_rank'] = test['breed_'].map(breed_rank)

In [78]:
train['color_'] = train['color'].map(lambda x: x if x in test['color'].unique() else 'Other')
test['color_'] = test['color'].map(lambda x: x if x in train['color'].unique() else 'Other')

In [79]:
color_rank = {}

for index, key in enumerate(list(train.groupby('color_')['duration'].mean().sort_values(ascending = False).to_dict().keys())):
    color_rank[key] = index

In [81]:
train['color_rank'] = train['color_'].map(color_rank)
test['color_rank'] = test['color_'].map(color_rank)

In [83]:
train['intake_type_'] = train['intake_type'].map(lambda x: x if x in test['intake_type'].unique() else 'Other')
test['intake_type_'] = test['intake_type'].map(lambda x: x if x in train['intake_type'].unique() else 'Other')

In [84]:
intake_type_rank = {}

for index, key in enumerate(list(train.groupby('intake_type_')['duration'].mean().sort_values(ascending = False).to_dict().keys())):
    intake_type_rank[key] = index

In [86]:
train['intake_type_rank'] = train['intake_type_'].map(intake_type_rank)
test['intake_type_rank'] = test['intake_type_'].map(intake_type_rank)

In [87]:
train['intake_condition_'] = train['intake_condition'].map(lambda x: x if x in test['intake_condition'].unique() else 'Other')
test['intake_condition_'] = test['intake_condition'].map(lambda x: x if x in train['intake_condition'].unique() else 'Other')

In [88]:
intake_condition_rank = {}

for index, key in enumerate(list(train.groupby('intake_condition_')['duration'].mean().sort_values(ascending = False).to_dict().keys())):
    intake_condition_rank[key] = index

In [89]:
train['intake_condition_rank'] = train['intake_condition_'].map(intake_condition_rank)
test['intake_condition_rank'] = test['intake_condition_'].map(intake_condition_rank)

In [92]:
train.drop(columns=['animal_type', 'color', 'breed', 'intake_type', 'intake_condition', 'color_', 'breed_', 'intake_type_', 'intake_condition_', 'sex_upon_outcome'], inplace=True)
test.drop(columns=['animal_type', 'color', 'breed', 'intake_type', 'intake_condition', 'color_', 'breed_', 'intake_type_', 'intake_condition_', 'sex_upon_outcome'], inplace=True)

In [94]:
train.drop(columns=['age_upon_intake'], inplace = True)
test.drop(columns=['age_upon_intake'], inplace = True)

In [97]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [115]:
buffer = train[['color_rank', 'breed_rank', 'animal_type_rank', 'duration']]

In [116]:
X = buffer.drop(columns=['duration'])
y = buffer['duration']

In [117]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [118]:
lr = LinearRegression()

In [119]:
X_train.shape

(32127, 3)

In [120]:
y_train.shape

(32127,)

In [121]:
lr.fit(X_train, y_train)

LinearRegression()

In [122]:
lr.score(X_train, y_train)

0.0511666982216501

In [123]:
lr.score(X_test, y_test)

0.04832627441829951