In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/outcomes_initial.csv').drop(columns=['Unnamed: 0']).sort_values(['animal_id', 'datetime']).reset_index().drop(columns=['index'])

In [ ]:
df.head()

  animal_id    name             datetime  ...  year month       day
0   A006100   Scamp  2014-03-08 17:10:00  ...  2014     3  Saturday
1   A006100   Scamp  2014-12-20 16:35:00  ...  2014    12  Saturday
2   A006100   Scamp  2017-12-07 00:00:00  ...  2017    12  Thursday
3   A047759    Oreo  2014-04-07 15:12:00  ...  2014     4    Monday
4   A134067  Bandit  2013-11-16 11:54:00  ...  2013    11  Saturday

[5 rows x 15 columns]

In [ ]:
df['outcome_type'].value_counts()

Adoption           58148
Transfer           37887
Return to Owner    22019
Euthanasia          8701
Died                1225
Rto-Adopt            762
Disposal             595
Missing               70
Relocate              25
Name: outcome_type, dtype: int64

In [ ]:
df['prev_adoption'] = [0] * len(df)
df['prev_transfer'] = [0] * len(df)
df['prev_ret_to_owner'] = [0] * len(df)
df['prev_rto_adopt'] = [0] * len(df)
df['prev_disposal'] = [0] * len(df)
df['prev_missing'] = [0] * len(df)
df['prev_relocate'] = [0] * len(df)

In [ ]:
adoptions = 0
transfers = 0
ret_to_owners = 0
rto_adopts = 0
disposals = 0
missings = 0
relocates = 0

for i in range(len(df)- 1):
  if df['animal_id'][i] == df['animal_id'][i + 1]:
    if df['outcome_type'][i] == 'Adoption':
      df['prev_adoption'][i + 1] = adoptions + 1
      adoptions += 1
    elif df['outcome_type'][i] == 'Transfer':
      df['prev_transfer'][i + 1] = transfers + 1
      transfers += 1
    elif df['outcome_type'][i] == 'Return to Owner':
      df['prev_ret_to_owner'][i + 1] = ret_to_owners + 1
      ret_to_owners += 1
    elif df['outcome_type'][i] == 'Rto-Adopt':
      df['prev_rto_adopt'][i + 1] = rto_adopts + 1
      rto_adopts += 1
    elif df['outcome_type'][i] == 'Disposal':
      df['prev_disposal'][i + 1] = disposals + 1
      disposals += 1
    elif df['outcome_type'][i] == 'Missing':
      df['prev_missing'][i + 1] = missings + 1
      missings += 1
    elif df['outcome_type'][i] == 'Relocate':
      df['prev_relocate'][i + 1] = relocates + 1
      relocates += 1
  else:
    adoptions = 0
    transfers = 0
    ret_to_owners = 0
    rto_adopts = 0
    disposals = 0
    missings = 0
    relocates = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

       animal_id     outcome_type  ...  prev_missing  prev_relocate
0        A006100  Return to Owner  ...             0              0
1        A006100  Return to Owner  ...             0              0
2        A006100  Return to Owner  ...             0              0
3        A047759         Transfer  ...             0              0
4        A134067  Return to Owner  ...             0              0
...          ...              ...  ...           ...            ...
129427   A840385         Transfer  ...             0              0
129428   A840386         Transfer  ...             0              0
129429   A840402       Euthanasia  ...             0              0
129430   A840404       Euthanasia  ...             0              0
129431   A840415       Euthanasia  ...             0              0

[129432 rows x 9 columns]

In [ ]:
df['prev_adoption'].value_counts()

0    121614
1      6660
2       932
3       174
4        38
5        10
6         3
7         1
Name: prev_adoption, dtype: int64

In [ ]:
df.query('prev_adoption == 7')['animal_id']

74026    A754989
Name: animal_id, dtype: object

In [ ]:
df.query('animal_id == "A754989"')[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

      animal_id outcome_type  ...  prev_missing  prev_relocate
74019   A754989     Adoption  ...             0              0
74020   A754989     Adoption  ...             0              0
74021   A754989     Adoption  ...             0              0
74022   A754989     Adoption  ...             0              0
74023   A754989     Adoption  ...             0              0
74024   A754989     Adoption  ...             0              0
74025   A754989     Adoption  ...             0              0
74026   A754989     Adoption  ...             0              0

[8 rows x 9 columns]

In [ ]:
df['prev_transfer'].value_counts()

0    128551
1       853
2        26
3         2
Name: prev_transfer, dtype: int64

In [ ]:
df.query('prev_transfer == 3')['animal_id']

87616     A774102
113860    A809074
Name: animal_id, dtype: object

In [ ]:
df.query('animal_id == "A774102" or animal_id == "A809074"')[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

       animal_id     outcome_type  ...  prev_missing  prev_relocate
87613    A774102         Transfer  ...             0              0
87614    A774102         Transfer  ...             0              0
87615    A774102         Transfer  ...             0              0
87616    A774102  Return to Owner  ...             0              0
87617    A774102  Return to Owner  ...             0              0
87618    A774102  Return to Owner  ...             0              0
87619    A774102  Return to Owner  ...             0              0
113857   A809074         Transfer  ...             0              0
113858   A809074         Transfer  ...             0              0
113859   A809074         Transfer  ...             0              0
113860   A809074         Transfer  ...             0              0

[11 rows x 9 columns]

In [ ]:
df['prev_ret_to_owner'].value_counts()

0     124635
1       3542
2        758
3        264
4        104
5         53
6         26
7         12
8          7
9          4
10         4
11         3
30         1
12         1
13         1
14         1
31         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
15         1
Name: prev_ret_to_owner, dtype: int64

In [ ]:
df.query('prev_ret_to_owner == 30')['animal_id']

48675    A721033
Name: animal_id, dtype: object

In [ ]:
df.query('animal_id == "A721033"')[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

      animal_id     outcome_type  ...  prev_missing  prev_relocate
48644   A721033  Return to Owner  ...             0              0
48645   A721033  Return to Owner  ...             0              0
48646   A721033  Return to Owner  ...             0              0
48647   A721033  Return to Owner  ...             0              0
48648   A721033  Return to Owner  ...             0              0
48649   A721033  Return to Owner  ...             0              0
48650   A721033  Return to Owner  ...             0              0
48651   A721033  Return to Owner  ...             0              0
48652   A721033  Return to Owner  ...             0              0
48653   A721033  Return to Owner  ...             0              0
48654   A721033  Return to Owner  ...             0              0
48655   A721033  Return to Owner  ...             0              0
48656   A721033  Return to Owner  ...             0              0
48657   A721033  Return to Owner  ...             0              0
48658   A721033  Return to Owner  ...             0              0
48659   A721033  Return to Owner  ...             0              0
48660   A721033  Return to Owner  ...             0              0
48661   A721033  Return to Owner  ...             0              0
48662   A721033  Return to Owner  ...             0              0
48663   A721033  Return to Owner  ...             0              0
48664   A721033  Return to Owner  ...             0              0
48665   A721033  Return to Owner  ...             0              0
48666   A721033  Return to Owner  ...             0              0
48667   A721033        Rto-Adopt  ...             0              0
48668   A721033  Return to Owner  ...             0              0
48669   A721033  Return to Owner  ...             0              0
48670   A721033  Return to Owner  ...             0              0
48671   A721033  Return to Owner  ...             0              0
48672   A721033  Return to Owner  ...             0              0
48673   A721033  Return to Owner  ...             0              0
48674   A721033  Return to Owner  ...             0              0
48675   A721033  Return to Owner  ...             0              0
48676   A721033        Rto-Adopt  ...             0              0

[33 rows x 9 columns]

In [ ]:
df['prev_rto_adopt'].value_counts()

0    129247
1       179
2         6
Name: prev_rto_adopt, dtype: int64

In [ ]:
df.query('prev_ret_to_owner == 2')['animal_id']

2         A006100
299       A416147
325       A424158
343       A430709
418       A453083
           ...
121512    A822633
121525    A822659
122217    A823880
122678    A824774
125714    A831798
Name: animal_id, Length: 758, dtype: object

In [ ]:
df.query('animal_id == "A416147"')[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

    animal_id     outcome_type  ...  prev_missing  prev_relocate
297   A416147  Return to Owner  ...             0              0
298   A416147  Return to Owner  ...             0              0
299   A416147  Return to Owner  ...             0              0
300   A416147         Adoption  ...             0              0
301   A416147         Adoption  ...             0              0

[5 rows x 9 columns]

In [ ]:
df['prev_disposal'].value_counts()

0    129431
1         1
Name: prev_disposal, dtype: int64

In [ ]:
df.query('prev_disposal == 1')['animal_id']

74551    A755687
Name: animal_id, dtype: object

In [ ]:
df.query('animal_id == "A755687"')[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

      animal_id outcome_type  ...  prev_missing  prev_relocate
74550   A755687     Disposal  ...             0              0
74551   A755687     Disposal  ...             0              0

[2 rows x 9 columns]

In [ ]:
df['prev_missing'].value_counts()

0    129419
1        12
2         1
Name: prev_missing, dtype: int64

In [ ]:
df.query('prev_missing == 2')['animal_id']

33041    A700840
Name: animal_id, dtype: object

In [ ]:
df.query('animal_id == "A700840"')[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

      animal_id outcome_type  ...  prev_missing  prev_relocate
33039   A700840      Missing  ...             0              0
33040   A700840      Missing  ...             1              0
33041   A700840     Transfer  ...             2              0

[3 rows x 9 columns]

In [ ]:
df['prev_relocate'].value_counts()

0    129432
Name: prev_relocate, dtype: int64

In [ ]:
df.to_csv('/content/drive/MyDrive/outcome_tallies.csv')