In [1]:
import pandas as pd
import numpy as np

In [2]:
outcomes = pd.read_csv('../../datasets/outcomes_initial.csv').drop(columns=['Unnamed: 0']).sort_values(['animal_id', 'datetime']).reset_index().drop(columns=['index'])
intakes = pd.read_csv('../../datasets/intakes_initial.csv').drop(columns=['Unnamed: 0']).sort_values(['animal_id', 'datetime']).reset_index().drop(columns=['index'])

In [3]:
outcomes.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,is_named,year,month,day
0,A006100,Scamp,2014-03-08 17:10:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Saturday
1,A006100,Scamp,2014-12-20 16:35:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Saturday
2,A006100,Scamp,2017-12-07 00:00:00,07/09/2007,Return to Owner,Unknown,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday
3,A047759,Oreo,2014-04-07 15:12:00,04/02/2004,Transfer,Partner,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Monday
4,A134067,Bandit,2013-11-16 11:54:00,10/16/1997,Return to Owner,Unknown,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday

In [4]:
intakes.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,is_named,year,month,day
0,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Friday
1,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Friday
2,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday
3,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Wednesday
4,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday

In [5]:
outcomes['outcome_type'].value_counts()

Adoption           58148
Transfer           37887
Return to Owner    22019
Euthanasia          8701
Died                1225
Rto-Adopt            762
Disposal             595
Missing               70
Relocate              25
Name: outcome_type, dtype: int64

In [6]:
outcomes['prev_adoption'] = [0] * len(outcomes)
outcomes['prev_transfer'] = [0] * len(outcomes)
outcomes['prev_ret_to_owner'] = [0] * len(outcomes)
outcomes['prev_rto_adopt'] = [0] * len(outcomes)
outcomes['prev_disposal'] = [0] * len(outcomes)
outcomes['prev_missing'] = [0] * len(outcomes)
outcomes['prev_relocate'] = [0] * len(outcomes)

In [7]:
adoptions = 0
transfers = 0
ret_to_owners = 0
rto_adopts = 0
disposals = 0
missings = 0
relocates = 0

for i in range(len(outcomes)- 1):

    if outcomes['animal_id'][i] == outcomes['animal_id'][i + 1]:

        if outcomes['outcome_type'][i] == 'Adoption':
            outcomes['prev_adoption'][i + 1] = adoptions + 1
            adoptions += 1
        elif outcomes['outcome_type'][i] == 'Transfer':
            outcomes['prev_transfer'][i + 1] = transfers + 1
            transfers += 1
        elif outcomes['outcome_type'][i] == 'Return to Owner':
            outcomes['prev_ret_to_owner'][i + 1] = ret_to_owners + 1
            ret_to_owners += 1
        elif outcomes['outcome_type'][i] == 'Rto-Adopt':
            outcomes['prev_rto_adopt'][i + 1] = rto_adopts + 1
            rto_adopts += 1
        elif outcomes['outcome_type'][i] == 'Disposal':
            outcomes['prev_disposal'][i + 1] = disposals + 1
            disposals += 1
        elif outcomes['outcome_type'][i] == 'Missing':
            outcomes['prev_missing'][i + 1] = missings + 1
            missings += 1
        elif outcomes['outcome_type'][i] == 'Relocate':
            outcomes['prev_relocate'][i + 1] = relocates + 1
            relocates += 1
    else:
        adoptions = 0
        transfers = 0
        ret_to_owners = 0
        rto_adopts = 0
        disposals = 0
        missings = 0
        relocates = 0

<ipython-input-7-e256545179d9>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes['prev_ret_to_owner'][i + 1] = ret_to_owners + 1
<ipython-input-7-e256545179d9>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes['prev_adoption'][i + 1] = adoptions + 1
<ipython-input-7-e256545179d9>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes['prev_transfer'][i + 1] = transfers + 1
<ipython-input-7-e256545179d9>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes['prev_rto_adopt'][i + 1] = rto_adopts + 1
<ipython-input-7-e256545179d9>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes['prev_missing'][i + 1] = missings + 1
<ipython-input-7-e256545179d9>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes['prev_disposal'][i + 1] = disposals + 1

In [8]:
outcomes[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

,animal_id,outcome_type,prev_adoption,prev_transfer,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate
0,A006100,Return to Owner,0,0,0,0,0,0,0
1,A006100,Return to Owner,0,0,1,0,0,0,0
2,A006100,Return to Owner,0,0,2,0,0,0,0
3,A047759,Transfer,0,0,0,0,0,0,0
4,A134067,Return to Owner,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
129427,A840385,Transfer,0,0,0,0,0,0,0
129428,A840386,Transfer,0,0,0,0,0,0,0
129429,A840402,Euthanasia,0,0,0,0,0,0,0
129430,A840404,Euthanasia,0,0,0,0,0,0,0
129431,A840415,Euthanasia,0,0,0,0,0,0,0

In [9]:
outcomes['prev_adoption'].value_counts()

0    121614
1      6660
2       932
3       174
4        38
5        10
6         3
7         1
Name: prev_adoption, dtype: int64

In [10]:
# checking new features
outcomes.query('animal_id == "A754989"')[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

,animal_id,outcome_type,prev_adoption,prev_transfer,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate
74019,A754989,Adoption,0,0,0,0,0,0,0
74020,A754989,Adoption,1,0,0,0,0,0,0
74021,A754989,Adoption,2,0,0,0,0,0,0
74022,A754989,Adoption,3,0,0,0,0,0,0
74023,A754989,Adoption,4,0,0,0,0,0,0
74024,A754989,Adoption,5,0,0,0,0,0,0
74025,A754989,Adoption,6,0,0,0,0,0,0
74026,A754989,Adoption,7,0,0,0,0,0,0

In [11]:
outcomes.query('animal_id == "A774102" or animal_id == "A809074"')[['animal_id', 'outcome_type', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing', 'prev_relocate' ]]

,animal_id,outcome_type,prev_adoption,prev_transfer,prev_ret_to_owner,prev_rto_adopt,prev_disposal,prev_missing,prev_relocate
87613,A774102,Transfer,0,0,0,0,0,0,0
87614,A774102,Transfer,0,1,0,0,0,0,0
87615,A774102,Transfer,0,2,0,0,0,0,0
87616,A774102,Return to Owner,0,3,0,0,0,0,0
87617,A774102,Return to Owner,0,0,1,0,0,0,0
87618,A774102,Return to Owner,0,0,2,0,0,0,0
87619,A774102,Return to Owner,0,0,3,0,0,0,0
113857,A809074,Transfer,0,0,0,0,0,0,0
113858,A809074,Transfer,0,1,0,0,0,0,0
113859,A809074,Transfer,0,2,0,0,0,0,0
113860,A809074,Transfer,0,3,0,0,0,0,0

In [12]:
intakes[intakes['sex_upon_intake'].str.contains('Unknown')].shape

(10368, 15)

In [13]:
'''intakes['is_male'] = intakes['sex_upon_intake'].str.split(' ').str[1]
intakes['is_neutered'] = intakes['sex_upon_intake'].str.split(' ').str[0]

outcomes['is_male'] = outcomes['sex_upon_outcome'].str.split(' ').str[1]
outcomes['is_neutered'] = outcomes['sex_upon_outcome'].str.split(' ').str[0]

intakes['is_male'] = intakes['sex_upon_intake'].str.contains('Male').astype(int)
intakes['is_female'] = intakes['sex_upon_intake'].str.contains('Female').astype(int)
intakes['is_neutered'] = intakes['sex_upon_intake'].str.contains(r'Neutered|Spayed').astype(int)

#intakes['is_unknown'] = intakes['sex_upon_intake'].str.contains('Unknown').astype(int)

#outcomes['is_male'] = (outcomes['is_male'] == 'Male').astype(int)
#outcomes['is_neutered'] = (outcomes['is_neutered'] != 'Intact').astype(int)
#outcomes['is_unknown'] = outcomes['sex_upon_intake'].str.contains('Unknown').astype(int)
'''

"intakes['is_male'] = intakes['sex_upon_intake'].str.split(' ').str[1]\nintakes['is_neutered'] = intakes['sex_upon_intake'].str.split(' ').str[0]\n\noutcomes['is_male'] = outcomes['sex_upon_outcome'].str.split(' ').str[1]\noutcomes['is_neutered'] = outcomes['sex_upon_outcome'].str.split(' ').str[0]\n\nintakes['is_male'] = intakes['sex_upon_intake'].str.contains('Male').astype(int)\nintakes['is_female'] = intakes['sex_upon_intake'].str.contains('Female').astype(int)\nintakes['is_neutered'] = intakes['sex_upon_intake'].str.contains(r'Neutered|Spayed').astype(int)\n\n#intakes['is_unknown'] = intakes['sex_upon_intake'].str.contains('Unknown').astype(int)\n\n#outcomes['is_male'] = (outcomes['is_male'] == 'Male').astype(int)\n#outcomes['is_neutered'] = (outcomes['is_neutered'] != 'Intact').astype(int)\n#outcomes['is_unknown'] = outcomes['sex_upon_intake'].str.contains('Unknown').astype(int)\n"

In [14]:
intakes[intakes['sex_upon_intake'] == 'Unknown']

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,is_named,year,month,day
8,A169438,NaN,2018-04-04 20:37:00,Dessau in Austin (TX),Stray,Normal,Bird,Unknown,1.000,Dove Mix,Gray/White,0,2018,4,Wednesday
4900,A663372,Nutmeg,2013-10-19 11:16:00,Austin (TX),Owner Surrender,Normal,Other,Unknown,0.167,Rabbit Sh Mix,Brown,1,2013,10,Saturday
4901,A663373,Snowball,2013-10-19 11:16:00,Austin (TX),Owner Surrender,Normal,Other,Unknown,0.167,Rabbit Sh Mix,White/Tan,1,2013,10,Saturday
4902,A663374,Cinnimen,2013-10-19 11:16:00,Austin (TX),Owner Surrender,Normal,Other,Unknown,0.167,Rabbit Sh Mix,Brown,1,2013,10,Saturday
4903,A663375,Itzie,2013-10-19 11:16:00,Austin (TX),Owner Surrender,Normal,Other,Unknown,0.167,Rabbit Sh Mix,Brown,1,2013,10,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128793,A840375,Chase,2021-08-06 15:14:00,Cripple Creek Dr in Austin (TX),Stray,Normal,Dog,Unknown,2.000,German Shepherd,Black/Tan,1,2021,8,Friday
128795,A840377,NaN,2021-08-06 15:14:00,Cripple Creek Dr in Austin (TX),Stray,Normal,Dog,Unknown,2.000,German Shepherd Mix,Black/Tan,0,2021,8,Friday
128812,A840402,NaN,2021-08-06 18:46:00,11306 Parkfield Drive in Austin (TX),Wildlife,Normal,Other,Unknown,2.000,Bat,Brown,0,2021,8,Friday
128814,A840404,NaN,2021-08-06 20:16:00,1950 Webberville Road in Austin (TX),Wildlife,Normal,Other,Unknown,2.000,Bat,Brown,0,2021,8,Friday
128818,A840415,NaN,2021-08-07 12:45:00,2802 Oak Park Dr in Austin (TX),Wildlife,Sick,Other,Unknown,1.000,Fox,Brown,0,2021,8,Saturday

In [15]:
# converting for rank
intakes['datetime'] = intakes['datetime'].apply(pd.to_datetime)
outcomes['datetime'] = outcomes['datetime'].apply(pd.to_datetime)

In [16]:
intakes['intake_num'] = intakes.groupby(['animal_id'])['datetime'].rank(method='dense', ascending=False)
intakes['tracking_id'] = intakes['animal_id'] + '_' + intakes['intake_num'].astype('int').astype('str')
outcomes['outcome_num'] = outcomes.groupby(['animal_id'])['datetime'].rank(method='dense', ascending=False)
outcomes['tracking_id'] = outcomes['animal_id'] + '_' + outcomes['outcome_num'].astype('int').astype('str')

In [17]:
outcomes.set_index('tracking_id', inplace=True)
intakes.set_index('tracking_id', inplace=True)

full_df = pd.merge(outcomes, intakes, how='inner', 
                  right_index=True, left_index=True, suffixes=['_out', '_in'])

In [18]:
full_df.drop(columns=['date_of_birth','animal_id_out','breed_out','color_out','intake_num','outcome_num','animal_type_out'], inplace=True)

In [19]:
full_df.columns = [
    'name_out', 'datetime_out', 'outcome_type', 'outcome_subtype',
   'sex_upon_outcome', 'age_upon_outcome', 'is_named_out', 'year_out',
   'month_out', 'day_out', 'prev_adoption', 'prev_transfer',
   'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing',
   'prev_relocate', 'animal_id_in', 'name_in', 'datetime_in',
   'found_location', 'intake_type', 'intake_condition', 'animal_type',
   'sex_upon_intake', 'age_upon_intake', 'breed', 'color',
   'is_named_in', 'year_in', 'month_in', 'day_in'
]

In [20]:
full_df.head()

,name_out,datetime_out,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome,is_named_out,year_out,month_out,day_out,...,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,is_named_in,year_in,month_in,day_in
tracking_id,,,,,,,,,,,,,,,,,,,,,
A006100_1,Scamp,2017-12-07 00:00:00,Return to Owner,Unknown,Neutered Male,1.0,1,2017,12,Thursday,...,Normal,Dog,Neutered Male,1.0,Spinone Italiano Mix,Yellow/White,1,2017,12,Thursday
A006100_2,Scamp,2014-12-20 16:35:00,Return to Owner,Unknown,Neutered Male,7.0,1,2014,12,Saturday,...,Normal,Dog,Neutered Male,7.0,Spinone Italiano Mix,Yellow/White,1,2014,12,Friday
A006100_3,Scamp,2014-03-08 17:10:00,Return to Owner,Unknown,Neutered Male,6.0,1,2014,3,Saturday,...,Normal,Dog,Neutered Male,6.0,Spinone Italiano Mix,Yellow/White,1,2014,3,Friday
A047759_1,Oreo,2014-04-07 15:12:00,Transfer,Partner,Neutered Male,1.0,1,2014,4,Monday,...,Normal,Dog,Neutered Male,1.0,Dachshund,Tricolor,1,2014,4,Wednesday
A134067_1,Bandit,2013-11-16 11:54:00,Return to Owner,Unknown,Neutered Male,1.0,1,2013,11,Saturday,...,Injured,Dog,Neutered Male,1.0,Shetland Sheepdog,Brown/White,1,2013,11,Saturday

In [21]:
full_df.shape

(127912, 32)

In [22]:
full_df.columns

Index(['name_out', 'datetime_out', 'outcome_type', 'outcome_subtype',
       'sex_upon_outcome', 'age_upon_outcome', 'is_named_out', 'year_out',
       'month_out', 'day_out', 'prev_adoption', 'prev_transfer',
       'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing',
       'prev_relocate', 'animal_id_in', 'name_in', 'datetime_in',
       'found_location', 'intake_type', 'intake_condition', 'animal_type',
       'sex_upon_intake', 'age_upon_intake', 'breed', 'color', 'is_named_in',
       'year_in', 'month_in', 'day_in'],
      dtype='object')

In [23]:
full_df_test = full_df[[
    'animal_id_in', 'animal_type', 'color', 'breed', 'intake_type', 
    'outcome_type', 'intake_condition', 'outcome_subtype', 'datetime_in', 'datetime_out', 
    'year_in', 'month_in', 'day_in', 'year_out', 'month_out', 
    'day_out', 'prev_adoption', 'prev_transfer', 'prev_ret_to_owner', 'prev_rto_adopt', 
    'prev_disposal', 'prev_missing', 'prev_relocate', 'age_upon_outcome', 'age_upon_intake',
    'sex_upon_intake', 'sex_upon_outcome', 'is_named_in', 'is_named_out', 'found_location',
    'name_in', 'name_out'
]]

In [24]:
full_df_test.shape

(127912, 32)

In [25]:
full_df['color'].unique()

array(['Yellow/White', 'Tricolor', 'Brown/White', 'Black/White',
       'Black/Gray', 'Gray/White', 'White/Black', 'Brown Tabby/White',
       'Black/Tan', 'Tan/Black', 'Black', 'Gold/Gold', 'Tortie Point',
       'Sable/White', 'Blue Merle/Tan', 'Blue Merle', 'Brown/Black',
       'Black/Tricolor', 'Black/Black', 'Tan', 'Black/Brown', 'Cream',
       'Red', 'Yellow', 'Gray Tabby/White', 'Brown Merle', 'White',
       'White/Brown', 'Tortie', 'White/Gray Tabby', 'Tan/Red',
       'Black/Brown Brindle', 'Black Smoke/White', 'Calico', 'Brown/Tan',
       'Orange Tabby/White', 'Blue Cream/Tortie', 'Lynx Point',
       'Brown/Buff', 'Red Merle', 'Brown', 'Torbie', 'Brown/Cream',
       'Blue/White', 'Red/White', 'Tan/White', 'Lilac Point', 'Blue',
       'Gold', 'Brown Tabby', 'Red/Black', 'Black Brindle',
       'Brown/Blue Merle', 'Cream/White', 'Red/Tan', 'Black/Red',
       'Chocolate', 'Brown Tabby/Agouti', 'Blue Point',
       'Black Tabby/White', 'Silver Tabby', 'Brown Brindle/White',
       'Black Smoke', 'Orange Tabby', 'Blue Merle/White', 'White/Liver',
       'White/Cream', 'Blue/Tan', 'Seal Point', 'Cream/Tan',
       'Flame Point', 'White/Tan', 'Red/Brown', 'Chocolate/White',
       'White/Brown Merle', 'White/Brown Brindle', 'Black/Cream',
       'Brown Brindle', 'White/Gray', 'Brown Merle/White', 'Yellow/Tan',
       'Tortie/Blue Cream', 'Blue Tick/Brown', 'Gold/White', 'Apricot',
       'White/Tricolor', 'Black/Blue Tick', 'Blue Tabby/White', 'Buff',
       'Buff/Tan', 'Chocolate Point', 'Chocolate/Tan', 'Black Tabby',
       'Tan/Buff', 'Tan/Tan', 'Buff/Yellow', 'Fawn/White', 'Silver/White',
       'Seal Point/White', 'Tan/Gray', 'White/Red', 'Black Brindle/White',
       'White/Red Tick', 'Gray', 'Blue Tick', 'White/Brown Tabby',
       'White/Gold', 'Brown/Brown', 'Blue Cream', 'Cream/Black', 'Sable',
       'Silver/Brown', 'Buff/White', 'Chocolate/Brown',
       'Brown Tabby/Orange', 'Flame Point/White', 'Blue Merle/Brown',
       'Tan/Silver', 'Cream Tabby/White', 'Blue Tabby',
       'White/Orange Tabby', 'Silver', 'Brown/Tricolor', 'Calico Point',
       'Buff/Gray', 'Gray/Brown', 'White/Red Merle', 'White/White',
       'Gray/Black', 'Fawn/Black', 'Blue Tick/White', 'Brown/Brown Merle',
       'Black Brindle/Brown', 'White/Chocolate', 'White/Blue',
       'Blue Tick/Black', 'Brown/Brown Brindle', 'Tan/Cream',
       'White/Blue Merle', 'Brown Brindle/Tan', 'White/Buff',
       'Brown/Liver', 'Cream/Yellow', 'White/Black Brindle',
       'Blue Merle/Black', 'Gray/Gold', 'White/Lynx Point', 'Red Tick',
       'Tan/Blue Merle', 'White/Liver Tick', 'Brown/Red', 'Liver/White',
       'Black/Blue', 'Black Tiger/White', 'Fawn', 'Chocolate/Chocolate',
       'Red Tick/Red', 'Fawn/Blue', 'White/Orange', 'Orange/White',
       'Tricolor/Tricolor', 'Blue Tiger/White', 'Brown/Red Tick',
       'Fawn/Tricolor', 'Yellow Brindle/White', 'Black/Yellow',
       'Tricolor/White', 'Gray/Tricolor', 'Blue Point/White', 'Cream/Red',
       'Blue/Brown', 'Brown Tabby/Gray', 'White/Apricot',
       'Red Tick/White', 'White/Yellow', 'White/Blue Tabby',
       'White/Seal Point', 'Cream Tabby', 'Chocolate/Liver Tick',
       'Silver/Tan', 'Gold/Brown', 'Tricolor/Black', 'Tan/Tricolor',
       'Tan/Brown', 'Black/Orange', 'Gray/Cream', 'White/Brown Tiger',
       'White/Gray Tiger', 'White/Blue Cream', 'Red Tick/Brown',
       'Tan/Blue', 'White/Silver', 'Cream/Gray', 'Red Merle/White',
       'Blue Cream/White', 'Black/Black Brindle', 'White/Yellow Brindle',
       'Gray/Tan', 'Tortie/White', 'Black/Blue Merle', 'Silver/Black',
       'Tan/Brown Merle', 'Black/Brown Merle', 'Blue/Cream',
       'Red Tick/Blue Tick', 'Brown Brindle/Gray', 'Black/Silver',
       'Sable/Tan', 'Tan/Yellow Brindle', 'Sable/Black',
       'Blue Merle/Cream', 'Chocolate/Gray', 'Chocolate/Tricolor',
       'Torbie/White', 'Calico/White', 'Red/Buff', 'Fawn/Tan',
       'Gold/Buff', 'Brown Tiger', 'Blue/Black', 'Buff/Black',
       'Red/Cream', 'Cream/Seal Point', 'Tricolor/Tan', 'Yellow/Gray',
       'Red Tick/Tan', 'Red Tick/Brown Merle', 'Brown Tabby/Black',
       'Green', 'Tricolor/Chocolate', 'Apricot/White',
       'Brown Brindle/Brown Merle', 'Brown Brindle/Black',
       'Brown Brindle/Blue Cream', 'Red/Tricolor', 'Orange',
       'Gray/Orange', 'Calico/Brown Tabby', 'Tricolor/Blue',
       'Silver Tabby/White', 'Gray/Red', 'Red Merle/Black',
       'Blue Cream/Blue Tabby', 'Brown/Silver', 'Yellow/Black',
       'Gray Tabby', 'Black/Chocolate', 'Brown/Yellow',
       'Lynx Point/Brown Tabby', 'Lynx Point/White', 'Brown Tabby/Tortie',
       'Lynx Point/Gray Tabby', 'Brown/Gray', 'Red/Red Tick',
       'Silver/Chocolate', 'Blue Tabby/Blue Cream', 'Tricolor/Brown',
       'Black/Black Smoke', 'Sable/Red Merle', 'Brown Brindle/Blue Tick',
       'Black Brindle/Blue Tick', 'Blue/Brown Brindle',
       'Tricolor/Blue Merle', 'Blue Cream/Buff', 'Blue Merle/Tricolor',
       'Blue Tick/Tan', 'Calico/Blue Cream', 'Tan/Yellow',
       'Blue Merle/Gray', 'Blue Smoke/Brown', 'Chocolate/Red',
       'Ruddy/Cream', 'Chocolate Point/White', 'Brown Merle/Black',
       'Brown/Red Merle', 'Blue/Tricolor', 'Red/Gray',
       'White/Cream Tabby', 'Calico Point/White', 'Black Smoke/Black',
       'Black/Buff', 'Brown/Black Brindle', 'Sable/Brown', 'White/Pink',
       'Yellow Brindle', 'Gray/Pink', 'Red Tick/Orange',
       'Blue Tick/Brown Brindle', 'Fawn/Brown', 'Gold/Black',
       'Gold/Yellow', 'Tortie/Orange', 'Blue Tick/Red Tick',
       'Calico/Orange Tabby', 'Chocolate/Black', 'Pink',
       'Calico/Blue Tabby', 'Agouti/Gray', 'Red/Red Merle', 'Gray/Yellow',
       'Tan/Apricot', 'Liver/Tan', 'White/Black Tabby', 'Brown/Orange',
       'Yellow/Brown', 'Blue Merle/Red', 'Liver Tick/White', 'Red/Silver',
       'Brown Tabby/Gray Tabby', 'Red Tick/Black', 'Agouti/Brown Tabby',
       'Tortie/Black', 'Sable/Buff', 'Green/Yellow',
       'Brown Brindle/Brown', 'Silver Lynx Point', 'Gray/Tortie',
       'Silver Tabby/Black', 'Tricolor/Blue Tick',
       'Black Brindle/Brown Brindle', 'Gold/Tan', 'Liver/Buff',
       'Seal Point/Gray', 'Brown/Chocolate', 'Green/White', 'Buff/Brown',
       'Blue Tabby/Black', 'Black Tabby/Black', 'Agouti', 'Apricot/Brown',
       'Blue Tiger', 'Blue Merle/Red Merle', 'Gray/Blue',
       'Brown Brindle/Red Tick', 'Chocolate/Brown Merle',
       'Brown Tabby/Black Brindle', 'Brown Tabby/Brown',
       'Fawn/Brown Brindle', 'Cream/Orange', 'Chocolate/Brown Brindle',
       'White/Black Smoke', 'Chocolate/Red Tick', 'Orange Tiger',
       'Cream/Red Tick', 'Green/Blue', 'Chocolate/Cream',
       'White/Flame Point', 'Brown Merle/Tan', 'Blue Tabby/Cream',
       'Black Smoke/Brown Tabby', 'Calico/Black', 'Orange/Tan',
       'Gray Tabby/Black', 'Brown Brindle/Blue', 'Tortie/Calico',
       'Liver Tick', 'Red Merle/Tan', 'Gray/Silver', 'Torbie/Blue Cream',
       'Chocolate Point/Cream', 'Yellow Brindle/Blue', 'Red/Blue',
       'Blue Tick/Red', 'White/Blue Tick', 'Black/Yellow Brindle',
       'Blue Cream/Blue Tiger', 'Tan/Gold', 'Red/Green',
       'Blue Merle/Blue Merle', 'Black/Green', 'White/Calico',
       'Orange/Brown', 'Brown Tiger/White', 'Sable/Cream',
       'Blue Merle/Brown Brindle', 'Blue/Calico', 'Green/Orange',
       'Orange Tabby/Orange', 'Tan/Brown Brindle', 'Black Brindle/Black',
       'Brown Brindle/Brown Brindle', 'Liver', 'Brown/Blue',
       'Tricolor/Silver', 'Yellow/Yellow', 'Sable/Red', 'Chocolate/Gold',
       'Apricot/Tricolor', 'Calico/Tricolor', 'Blue/Yellow Brindle',
       'Calico/Brown', 'Green/Brown', 'Tortie Point/White',
       'Blue Smoke/White', 'Buff/Cream', 'Torbie/Calico', 'Gray/Buff',
       'Fawn/Chocolate', 'Fawn/Gray', 'Torbie/Brown', 'Black/Tortie',
       'Red/Gold', 'Orange/Black', 'Gold/Cream', 'Tortie/Black Smoke',
       'Blue Tabby/Tan', 'Lilac Point/Cream', 'Buff/Red',
       'White/Chocolate Point', 'Red/Red', 'Silver/Red', 'Blue Smoke',
       'Blue/Tortie', 'Blue/Orange', 'Tricolor/Calico',
       'Orange Tabby/Black', 'Orange Tabby/Tortie Point',
       'Seal Point/Brown', 'Brown Merle/Blue Merle', 'Tan/Red Tick',
       'Tortie/Brown', 'Brown Merle/Brown', 'Black/Black Tabby',
       'Brown/Green', 'Orange/Orange Tabby', 'Tortie Point/Lynx Point',
       'Lilac Point/White', 'Silver/Cream', 'Orange Tabby/Apricot',
       'Black Tabby/Orange', 'Blue/Yellow', 'Sable/Gray',
       'Blue Tabby/Orange', 'Cream/Brown', 'Tricolor/Brown Merle',
       'Tricolor/Brown Brindle', 'Torbie/Blue Tabby',
       'Orange Tabby/Cream', 'Tricolor/Gray', 'Green/Gray',
       'Lynx Point/Tortie Point', 'Chocolate/Brown Tabby',
       'Tricolor/Red Tick', 'Tortie/Blue', 'Blue/Gray', 'Silver/Gray',
       'Brown Tabby/Orange Tabby', 'Flame Point/Cream', 'Agouti/White',
       'Orange Tabby/Brown', 'Brown Tabby/Blue', 'Silver/Blue',
       'Orange/Blue', 'Chocolate/Yellow', 'Torbie/Brown Tabby',
       'Black/Gold', 'Tricolor/Orange', 'White/Tortie', 'Lynx Point/Tan',
       'Yellow/Orange', 'Black/Brown Tabby', 'Cream/Silver',
       'Black Smoke/Blue Tick', 'Torbie/Gray', 'Brown Tabby/Brown Tabby',
       'Cream Tabby/Cream Tabby', 'Tortie/Blue Tabby', 'Blue/Blue',
       'Cream/Cream', 'Calico/Calico', 'Orange Tabby/Orange Tabby',
       'Red/Yellow', 'Black/Gray Tabby', 'Silver Lynx Point/Gray',
       'Blue/Silver', 'Black/Seal Point', 'White/Calico Point',
       'Black Smoke/Brown', 'Brown Tabby/Cream', 'Yellow/Cream',
       'Liver/Chocolate', 'Blue Smoke/Gray', 'Black Smoke/Gray',
       'Brown/Brown Tabby', 'White/Fawn', 'Green/Black', 'Orange/Gray',
       'Brown/Pink', 'Yellow/Orange Tabby', 'White/Lilac Point',
       'Blue/Green', 'Green/Red', 'Cream/Brown Merle',
       'Red Merle/Brown Merle', 'Torbie/Black', 'Brown Merle/Brown Tabby',
       'Calico/Orange', 'Black Tabby/Gray Tabby', 'Blue Tick/Tricolor',
       'Black Brindle/Blue', 'Cream Tabby/Orange', 'Tortie/Tortie',
       'Brown Tiger/Brown', 'White/Silver Tabby', 'Blue Tabby/Buff',
       'Gray/Gray', 'Red Tick/Blue', 'Cream/Blue Point',
       'Torbie/Silver Tabby', 'Lynx Point/Blue', 'Gray Tabby/Orange',
       'Seal Point/Buff', 'Brown/Apricot', 'Blue Point/Cream',
       'Calico Point/Gray', 'Seal Point/Cream', 'Black Tabby/Gray',
       'Calico/Gray Tabby', 'Red Tick/Brown Brindle', 'White/Green',
       'Tortie Point/Blue', 'Cream Tabby/Orange Tabby', 'Gray/Fawn',
       'Silver Lynx Point/White', 'White/Black Tiger', 'Gray Tabby/Gray',
       'Black Smoke/Black Tiger', 'Gold/Gray', 'Red Merle/Red Merle',
       'Brown Brindle/Liver Tick', 'Gray/Gray Tabby', 'Tan/Fawn',
       'Tan/Cream Tabby', 'Silver/Orange', 'Black Tiger',
       'Tricolor/Cream', 'Gray/Green', 'Lilac Point/Black',
       'Brown Tabby/Calico', 'Brown Brindle/Tricolor', 'Yellow/Green',
       'Gray/Blue Merle', 'Brown Tabby/Silver', 'Liver/Liver Tick',
       'Black/Fawn', 'Brown Merle/Gray', 'Red Merle/Tricolor',
       'Green/Silver', 'Lilac Point/Gray', 'Tricolor/Red', 'Yellow/Red',
       'Brown Tabby/Lynx Point', 'Brown/Fawn', 'Agouti/Cream',
       'Tortie/Gray', 'Gold/Silver', 'Blue/Black Brindle',
       'Lynx Point/Gray', 'Black Smoke/Chocolate', 'Red/Brown Brindle',
       'Black Brindle/Tan', 'Chocolate/Fawn', 'Cream/Tricolor',
       'Tortie Point/Cream', 'Gray Tabby/Brown Tabby', 'White/Agouti',
       'Calico Point/Lynx Point', 'Brown Tabby/Black Tabby',
       'Lynx Point/Cream', 'Cream/Blue', 'Brown Merle/Chocolate',
       'Fawn/Cream', 'Brown/Black Smoke', 'White/Blue Tiger',
       'Red Tick/Tricolor', 'Cream Tiger', 'Chocolate/Blue Tick',
       'Tan/Chocolate Point', 'Tan/Red Merle', 'Yellow/Blue',
       'Blue Tabby/Tortie', 'Tortie Point/Seal Point',
       'Cream Tiger/Brown Tabby', 'Blue Tabby/Brown',
       'Silver/Silver Tabby', 'Tortie/Gold', 'Brown/Gold',
       'Gray/Brown Brindle', 'Chocolate/Seal Point', 'Cream/Gold',
       'Brown/Seal Point', 'Liver/Blue', 'Gray Tabby/Brown',
       'Brown Brindle/Black Brindle', 'Calico/Gray', 'Red Merle/Brown',
       'Green/Gold', 'Blue Tiger/Tan', 'Brown Tabby/Red'], dtype=object)

In [26]:
full_df_test = full_df_test[~(full_df_test['datetime_out'] < full_df_test['datetime_in'])]

In [154]:
full_df_test['breed'] = full_df_test['breed'].map(lambda x: ' '.join(set(sorted(x.replace('/', ' ').lower().split(' ')))))

In [155]:
full_df_test['color'] = full_df_test['color'].map(lambda x: ' '.join(set(sorted(x.replace('/', ' ').lower().split(' ')))))

In [156]:
full_df_test['breed'].value_counts()

domestic shorthair mix                    30788
pit bull mix                               8431
domestic shorthair                         8306
retriever labrador mix                     6907
chihuahua shorthair mix                    6223
                                          ...
hound spaniel cocker basset                   1
newfoundland                                  1
pomeranian dachshund                          1
golden retriever fox wire hair terrier        1
yorkshire miniature pinscher terrier          1
Name: breed, Length: 2108, dtype: int64

In [157]:
full_df_test['color'].value_counts()

white black              16795
black                    10756
brown tabby               7226
brown white               6714
tan white                 5777
                         ...
lynx blue point              1
blue gray smoke              1
lynx gray point tabby        1
blue tortie point            1
brown merle cream            1
Name: color, Length: 373, dtype: int64

In [159]:
full_df_test.columns

Index(['animal_id_in', 'animal_type', 'color', 'breed', 'intake_type',
       'outcome_type', 'intake_condition', 'outcome_subtype', 'datetime_in',
       'datetime_out', 'year_in', 'month_in', 'day_in', 'year_out',
       'month_out', 'day_out', 'prev_adoption', 'prev_transfer',
       'prev_ret_to_owner', 'prev_rto_adopt', 'prev_disposal', 'prev_missing',
       'prev_relocate', 'age_upon_outcome', 'age_upon_intake',
       'sex_upon_intake', 'sex_upon_outcome', 'is_named_in', 'is_named_out',
       'found_location', 'name_in', 'name_out'],
      dtype='object')

In [161]:
full_df_test.to_csv('../../datasets/main.csv', index = False)